- if games.empty?
  %p.faded.text-center
    = "No games available to join just now. Please click"
    = link_to t("game.new"), new_game_path
    = "or wait for someone else to."
- games.each do |game|
  = render "game", game: game
