- set_meta_tags title: t("game.games")

= content_for :javascript do
  = render partial: "wait", formats: :js

.row
  %div#results{class: center(xl: 8, md: 10)}
    = render "waitings", games: @games;
