// Bootstrap overides.
// $link-hover-color: #07f
// $navbar-dark-color: white
// $navbar-dark-hover-color: #ddd
// $navbar-dark-active-color: #ddd
// $dropdown-bg: #333940
// $dropdown-link-hover-color: #07f
// $dropdown-link-hover-bg: #333940

// Bootstrap
@import "bootstrap"

// Crud forms
form.crud
  margin-top: 1.5rem

  label
    font-size: 1.1rem
    font-weight: 600
    display: block

  input:not([type="checkbox"]):not([type="submit"]), textarea, select:not(.datetime)
    @extend .form-control
    margin-bottom: 0.75rem
    width: 100%

  textarea
    @extend .text-monospace
    font-size: 0.9rem

  input[type="checkbox"]
    // @extend .form-check-input   // this is causing problems
    width: 20px
    height: 20px

  div.field_with_errors
    display: inline
    label
      color: $red
    input[type="text"], textarea, select
      background: lighten($pink, 40%)

// Sections
article, section
  @extend .card, .border-dark, .mb-3

  .header
    @extend .card-header

  .body
    @extend .card-body

  .footer
    @extend .card-footer

// Flash notices. Note that, for dismissal, the class "alert" needs to be explicitly present in the HTML.
.flash
  text-align: center
  margin-top: -1rem
  margin-bottom: 1rem

  &.notice
    @extend .alert-success

  &.rails-alert
    @extend .alert-danger

// Pre's
pre
  @extend .border, .border-dark, .p-2

// Other style files
@import "card_table"
@import "pretty-print-json"
