#card-table

  // Background.
  rect.background
    fill: #076324
    stroke: #2F4F4F

  // Badge
  g.badge

    text
      font-family: "Courier New", Courier, monospace
      font-size: 40px
      font-weight: bold
      text-anchor: middle
      fill: black

    rect
      fill: gold
      stroke: black

  image
    border: 1px solid black
