#card-table

  // Background.
  rect.background
    fill: #076324
    stroke: #2F4F4F

  // Badge
  g.badge

    text
      font-family: "Courier New", Courier, monospace
      font-size: 25px // match this with Nums.badgeTextSize
      font-weight: normal
      text-anchor: middle
      fill: black

    rect
      fill: white
      stroke: black

    rect.turn
      fill: gold

  // Card
  g.card

    rect
      fill: none
      stroke: none

    rect.clickable
      stroke: white

  // Score
  g.score
    opacity: 0.9

    rect.score-bg
      fill: $teal

    rect.player-score-bg
      fill: white
      stroke: $gray-500

    rect.player-progress
      fill: $gray-300
      stroke: $gray-500

    text
      font-family: "Courier New", Courier, monospace
      font-size: 30px // match this with Nums.scoreTextSize
      font-weight: normal
      text-anchor: start
      fill: black



  // Debug text
  text.debug
    fill: white
    opacity: 0.5
